<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Manager</title>
</head>
<body>
<h1 style="color: mediumvioletred">Expense List</h1>
<hr/>
<h2 th:text="|당신이 사용한 비용은 총 ${total} 원 입니다!|"></h2>
<form th:action="@{/filterExpenses}" method="get" th:object="${filter}">
    키워드 검색 : <input type="text" placeholder="키워드 입력" th:field="*{keyword}" />
    <select th:field="*{sortBy}">
        <option value="date" th:field="*{sortBy}">날짜</option>
        <option value="amount" th:field="*{sortBy}">가격</option>
    </select>
    <input type="date" th:field="*{startDate}"/>
    <input type="date" th:field="*{endDate}"/>
    <input type="submit" value="검색"/>
</form>
<div>
    <a th:href="@{/createExpense}">새 비용</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>이름</th>
        <th>설명</th>
        <th>요금</th>
        <th>날짜</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exp : ${expenses}">
        <td th:text="${exp.name}"></td>
        <td th:text="${exp.description}"></td>
<!--        <td th:text="${exp.amount}"></td>-->
        <td th:text="|${#numbers.formatCurrency(exp.amount)}원|"></td>
<!--        <td th:text="${exp.date.toLocaleString()}"></td> -->
        <td th:text="${exp.dateString}"></td>
        <td>
            <a onclick="return confirm('정말로 삭제할까요?')" th:href="@{/deleteExpense(id=${exp.expenseId})}">삭제</a>
            |
            <a th:href="@{/updateExpense(id=${exp.expenseId})}">수정</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>